.title {
  margin: 15px 10px 0 10px;
  font-weight: bold;
}

.therapy_block {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.therapy_block select {
  width: 100px;
  height: 30px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--lila-border);
  font-size: 11px;
}

.img_block {
  display: flex;
  flex-direction: row;
  width: 30px;
  height: 30px;
}

.img_block img {
  cursor: pointer;
  margin: 0 2px;
}

.img_block img:disabled {
  cursor: not-allowed;
}

.story_block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}

.story_block p {
  font-weight: bold;
  margin-top: 15px;
}

.story_block textarea {
  padding: 15px;
  height: 150px;
  width: 320px;
  border: 1px solid var(--lila-border);
  border-radius: 5px;
  resize: none;
  outline: none;
}

.btn {
  background-image: linear-gradient(to right, var(--pink), var(--lila-border));
  color: white;
  border-radius: 10px;
  margin-left: 150px;
  font-size: small;
  padding: 10px;
  width: auto;
}

.tagsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.tags {
  color: white;
  text-align: center;

  display: flex;
}

.tags img {
  height: 25px;
}

.close {
  position: absolute;
  top: 20%;
  right: 10%;
  cursor: pointer;
}

