.title_block {
    margin-top: 50px;
    display: flex;
    justify-content: start;
    gap: 50px;
    padding-left: 30px;
}

.submit_block p {
    font-weight: bold;
    margin-bottom: 5px;
}

.submit_block {
    margin: 10px;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.descr {
    color: gray;
    font-size: 10px;
    font-weight: normal !important;
}

.submit_block input {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid var(--lila-border);
    width: 80px;
    height: 35px;
    outline: none;

}

.title {
    margin-top: 15px;
    margin-left: 15px; 
    font-weight: bold;
}

.title2_block {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}

.title2_block select {
    width: 100px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--lila-border);
    font-size: 11px;
}

.img_block {
    display: flex;
    flex-direction: row;
    width: 30px;
    height: 30px;
}

.img_block img{
    cursor: pointer;
    margin: 0 2px;
}

.img_block img:disabled {
    cursor: not-allowed;
}

.story_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.story_block  p {
    font-weight: bold;
    margin-top: 15px;
}

.story_block textarea {
    padding: 15px;
    height:150px ;
    width: 300px;
    border: 1px solid var(--lila-border);
    border-radius: 5px;
    resize: none;
    outline: none;
}

.story_block button {
    border: 1px solid var(--lila-primary);
    border: 1px solid transparent; 
    background-image: linear-gradient(to right, var(--pink), var(--lila-border));
	color: white;
    border-radius: 10px;
    width: 150px;
    height: 36px;
    margin-left: 150px;
    cursor: pointer;
}

.story_block:hover button {
    opacity: 1;
}

.story_block button:hover {
    background-color: white;
    color: black;
}

.error_message_height {
    color: red;
    font-size: 8px;
    text-align: end;
}

.error_message_weight {
    color: red;
    font-size: 8px;
    text-align: end;
}

.error_message_age {
    color: red;
    font-size: 8px;
    text-align: end;
}

.tagsBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tags {
    width: 100px;
    padding: 5px 15px;
    border-radius: 15px;
    background-color: orange; 
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 20%;
    right: 10%;
    cursor: pointer;
}