.results_page {
  margin-top: 20px;
}

.results_page h4:nth-child(2) {
  margin-bottom: 10px;
}

.bmi_descr {
  margin: 20px 0 10px;
  font-size: 12px;
}

.bmi_img {
  width: 320px;
  object-fit: cover;
}

.title {
  margin-top: 15px;
  color: var(--lila-primary);
  font-weight: 900;
}

.treatments {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.treatments textarea {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 320px;
  outline: none;
  height: 70px;
  margin-top: 15px;
  resize: none;
}

.treatments p {
  color: black;
  font-weight: normal;
}

.btn_back {
  display: flex;
  justify-content: start;
}

.back_button {
  border: transparent;
  background-image: linear-gradient(to right, var(--pink), var(--lila-border));
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px 100px;
}

.tagsBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.Icon1 {
  background-color: #ef4949;
}

.Icon2 {
  background-color: #ffaa47;
}

.Icon3 {
  background-color: #f7ff6b;
}

.Icon4 {
  background-color: #9dfb7e;
}

.Icon5 {
  background-color: #58e940;
}

.tags {
  color: white;
  text-align: center;
  display: flex;
}

.tags img {
  height: 25px;
}

.therapy_text {
  font-size: 10px;
  font-weight: bold;
  width: 100px;
  height: 23px;
  padding: 5px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -7%;
  position: relative;
  box-shadow: -1px 1px 1px white;
}
