.results_page {
  margin-top: 20px;
}

.results_page h4:nth-child(2) {
  margin-bottom: 10px;
}

.results_page img {
  width: 320px;
  object-fit: cover;
}

.results_page p {
  margin-top: 15px;
  color: var(--lila-primary);
  font-weight: 900;
}

.treatments {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.treatments textarea {
  border-radius: 5px;
  border: 1px solid lightgray;
  width: 320px;
  outline: none;
  height: 70px;
  margin-top: 15px;
  /* border-bottom: 1px solid var(--lila-border); */
  resize: none;
}

.treatments p {
  color: black;
  font-weight: normal;
}

.btn_back {
  display: flex;
  justify-content: start;
}

.back_button {
  border: transparent;
  background-image: linear-gradient(to right, var(--pink), var(--lila-border));
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px 100px;
  font-size: x-small;
}
