.questions_page{
    /* gap: 35px; */
    overflow: scroll;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn_block {
    display: flex;
    justify-content: space-between
}

.btn {
    border-radius: 30px;
    height: 40px;
}

.btn_block:hover {
    background-color: white;
    color: black;
}

.arrows {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    justify-content: space-around;
    align-items: center;
}

.description {
    margin: 0 0 20px;
    font-size: 12px;
    font-weight: 700;
    text-align: justify;
}

.progress{
    font-size: 15px;
	color: darkgrey;
}
