.questions_page{
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    gap: 35px;
}

.btn_block {
    display: flex;
    justify-content: space-around;
}

.arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.description {
    margin: 10px 0;
    font-size: 12px;
}