.questions_page{
    gap: 35px;
    overflow: scroll;
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn_block {
    display: flex;
    justify-content: space-around;
}

.arrows {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.progress{
    font-size: 15px;
	color: darkgrey;
}
