.first_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.first_page p {
	font-weight: bold;
	text-align: center;
}

.description {
	font-size: 12px;
	margin-bottom: 10px;
	color: black;
	font-weight: bold;
	margin: 30px 0;
	text-align: justify;
}

.link {
	margin-top: 50px;
}

.required{
	font-size: 15px;
	color: darkgrey;
}