* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 320px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;;
}

a {
  text-decoration: none;
}

:root {
  --lila-primary: #5273E6;
  --lila-border: #617FE9;
  --pink: #C73FBD;
  --gradient-pink: #C23EC1;
  --red-smile: #ef4949;
  --orange-smile: #f89300;
  --yellow-smile: #d9cd27fa;
  --light-green-smile: #85BE00;
  --green-smile: #418e34;
}



