.btn {
  border: 2px solid var(--pink);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  position: absolute;
}

.btn:hover {
  background-color: var(--pink);
}

.active {
  background: var(--pink);
}

.head {
  top: 7%;
  left: 28.5%;
}

.right_shoulder {
  top: 20%;
  left: 21%;
}

.left_shoulder {
  top: 20%;
  left: 36%;
}

.right_arm {
  top: 35%;
  left: 17%;
}

.left_arm {
  top: 35%;
  left: 39%;
}

.right_leg {
  bottom: 35%;
  left: 22%;
}

.left_leg {
  bottom: 35%;
  left: 34%;
}

.neck {
  top: 18%;
  right: 29%;
}

.back {
  top: 28%;
  right: 29%;
}

.lower_back {
  top: 38%;
  right: 29%;
}
