.button_block {
  border: transparent;
  background-color: white;
  color: var(--lila-border);
  height: 40px;
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
}

.button_block:hover {
  transform: scale(1.1);
}

.button_block:disabled {
  background-color: white;
  color: var(--lila-border);
  cursor: not-allowed;
}
